<% include base/head.ejs %>

<main class="index">
    <!--state 1-->
    <section class="start-screen active">
        <h1>Cafe de Ceuvel</h1>
        <h2>Cyclus food builder</h2>
    </section>

    <!--state 2-->
    <section id="cycle-info" class="cycle-info">
        <div class="container">
            <div class="header">
                <h3>Info before you order</h3>
            </div>
            <div class="content">
                <h4>The Cycle</h4>
                <img src="/img/cycleoverview.png" alt="Cyclus img">
                <p>De cyclus bij de Greenhouse zorgt er voor dat we zelfvoorzienend zijn in het voorzien van het eten in
                    het restaurant. Elk element uit de cyclus heeft op verschillende ingredienten effect.</p>
                <button class="btn btn-text overlay">Ik wil meer weten <img src="img/info.svg" alt="info"></button>
                <button class="btn-main cycle-choice">Start</button>
            </div>
        </div>
    </section>

    <!--state 3-->
    <section id="cycle-choice" class="cycle-choice">
        <div class="container">
            <div class="header">
                <button class="btn-back cycle-info" href="/"><img src="img/chevleft.svg" alt=""></button>
                <h3>Select an element that's in the cycle</h3>
                <button class="info overlay"><img src="img/info.svg" alt="info"></button>
            </div>

            <form name="preference" class="preference" action="/preference" method="post" autocomplete="off">
                <label class="fish" for="fish">
                    <input id="fish" type="radio" name="choice" value="fish"/>
                    <img src="/img/fish.svg" alt="fish icon">
                </label>

                <label class="worms" for="worms">
                    <input id="worms" type="radio" name="choice" value="enviroment"/>
                    <img src="/img/environment.svg" alt="environment icon">
                </label>

                <label class="plants" for="plants">
                    <input id="plants" type="radio" name="choice" value="plants"/>
                    <img src="/img/plants.svg" alt="plants icon">
                </label>

                <label class="bacteria" for="bacteria">
                    <input id="bacteria" type="radio" name="choice" value="bacteria"/>
                    <img src="/img/bacteria.svg" alt="bacteria icon">
                </label>
            </form>

            <img class="dotlines" src="img/dotlines.svg" alt="lines">
        </div>
    </section>

    <!--info overlay-->
    <section id="overlay" class="overlay">
        <div class="container">
            <div class="header">
                <h3>More about the cycle</h3>
                <button class="btn-close cycle-choice">
                    <img src="img/close.svg" alt="close">
                </button>
            </div>

            <div class="content-block">
                <img src="/img/bacteria.svg" alt="bacteria">
                <h4>1. Bacteria</h4>
                <p>Positive Bacteria have four main benefits for areas like fish intestine lining and plant root tissue. They can be tip the balance of a system by:</p>
                <ol>
                    <li>Preventing bad bacteria from taking hold. If the site is already occupied by a good bacteria then the bad bacteria cannot take hold.</li>
                    <li>Promoting surface health. They can aid in breakdown of organic material that may get on the surface as well as actively assisting tissue health.</li>
                    <li>Being antagonistic to bad bacteria. Many positive bacteria do not only prevent bad bacteria taking hold but actively antagonize bad bacteria so they are removed from the environment.</li>
                    <li>Improving nutrient uptake and health. Many positive bacteria are major contributors to break down of nutrients that can be readily absorbed by they tissue.</li>
                </ol>
            </div>

            <div class="content-block">
                <img src="/img/plants.svg" alt="plants">
                <h4>2. Plants</h4>
                <p>There have been over 300 different aquaponic plants that have been tested that will be happy in an aquaponic system. The major group that will not grow in an aquaponic system are root vegetables. Basically the aquaponics plant list is too long to write and is dependent on your location. If it is an above ground plant that grows well in your area and does not mind getting its roots wet then you should give it a go.</p>
            </div>

            <div class="content-block">
                <img src="/img/environment.svg" alt="worms">
                <h4>3. Environment</h4>
                <p>De Ceuvel is capable of using a lot of products from it's environment. For expamples: The wild gooses that are removed from the engines of airplanes, or lobsters that come from America that damage the environment are used for food aswell.</p>
            </div>

            <div class="content-block">
                <img src="/img/fish.svg" alt="fish">
                <h4>4. Fish</h4>
                <p>There is no 'best' fish. It depends on what is available to you, what is legal for you to keep in your location and what will live in your temperature range. The qualities we recommend for a fish for a home system when a person is starting are:</p>
                <ol>
                    <li>reasonably tolerant of Ammonia</li>
                    <li>able to survive at least 5 Degrees Celsius either side of your maximum and minimum ambient air temperature</li>
                    <li>will easily take to pellet (fish food)</li>
                    <li>is happy in a tank</li>
                    <li>will not eat each other including fingerlings</li>
                    <li>Like the African Catfish</li>
                </ol>
            </div>
        </div>
    </section>

    <div id="bubbles">
        <div class="bubble x1"></div>
        <div class="bubble x2"></div>
        <div class="bubble x3"></div>
        <div class="bubble x4"></div>
        <div class="bubble x5"></div>
    </div>
</main>

<% include base/footer.ejs %>
