<% include base/head.ejs %>

<main class="index">
    <!--state 1-->
    <section class="start-screen active">
        <h1>Cafe de Ceuvel</h1>
        <h2>Cyclus food builder</h2>
    </section>

    <!--state 2-->
    <section id="cycle-info" class="cycle-info">
        <div class="container">
            <div class="header">
                <h3>Info before you order</h3>
            </div>
            <div class="content">
                <h4>The Cycle</h4>
                <img src="/img/cycleoverview.png" alt="Cyclus img">
                <p>De cyclus bij de Greenhouse zorgt er voor dat we zelfvoorzienend zijn in het voorzien van het eten in
                    het restaurant. Elk element uit de cyclus heeft op verschillende ingredienten effect.</p>
                <button class="btn overlay">Ik wil meer weten <img src="img/info.svg" alt="info"></button>
                <button class="btn-main cycle-choice">Start</button>
            </div>
        </div>
    </section>

    <!--state 3-->
    <section id="cycle-choice" class="cycle-choice">
        <div class="container">
            <div class="header">
                <button class="btn-back cycle-info" href="/"><img src="img/chevleft.svg" alt=""></button>
                <h3>Select an element that's in the cycle</h3>
                <button class="info overlay"><img src="img/info.svg" alt="info"></button>
            </div>

            <form name="preference" class="preference" action="/preference" method="post" autocomplete="off">
                <label class="fish" for="fish">
                    <input id="fish" type="radio" name="choice" value="fish"/>
                    <img src="/img/fish.svg" alt="fish icon">
                </label>

                <label class="worms" for="worms">
                    <input id="worms" type="radio" name="choice" value="enviroment"/>
                    <img src="/img/worms.svg" alt="worms icon">
                </label>

                <label class="plants" for="plants">
                    <input id="plants" type="radio" name="choice" value="plants"/>
                    <img src="/img/plants.svg" alt="plants icon">
                </label>

                <label class="bacteria" for="bacteria">
                    <input id="bacteria" type="radio" name="choice" value="bacteria"/>
                    <img src="/img/bacteria.svg" alt="bacteria icon">
                </label>
            </form>
        </div>
    </section>

    <!--info overlay-->
    <section id="overlay" class="overlay">
        <div class="container">
            <div class="header">
                <h3>More about the cycle</h3>
                <button class="btn-close cycle-choice">
                    <img src="img/close.svg" alt="close">
                </button>
            </div>

            <div class="content-block">
                <img src="/img/bacteria.svg" alt="bacteria">
                <h4>1. Bacteria</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dapibus bibendum justo, nec suscipit odio
                    dapibus non.</p>
            </div>

            <div class="content-block">
                <img src="/img/plants.svg" alt="plants">
                <h4>2. Plants</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dapibus bibendum justo, nec suscipit odio
                    dapibus non.</p>
            </div>

            <div class="content-block">
                <img src="/img/worms.svg" alt="worms">
                <h4>3. Worms</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dapibus bibendum justo, nec suscipit odio
                    dapibus non.</p>
            </div>

            <div class="content-block">
                <img src="/img/fish.svg" alt="fish">
                <h4>4. Fish</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dapibus bibendum justo, nec suscipit odio
                    dapibus non.</p>
            </div>
        </div>
    </section>

    <div id="bubbles">
        <div class="bubble x1"></div>
        <div class="bubble x2"></div>
        <div class="bubble x3"></div>
        <div class="bubble x4"></div>
        <div class="bubble x5"></div>
    </div>
</main>

<% include base/footer.ejs %>
