<% include base/head.ejs %>
<main class="result">
  <h1>Your <%= data.answer %> meal</h1>
  <div class="result-image">
    <div class="result-image_img">
    </div>
  </div>
</main>
<%= data.data.name %>

<% include base/footer.ejs %>
