body {
  background-color: $color-general;
  margin: 0;
  display: block;
  overflow: hidden;
  width: 100%;
  position: relative;
}
h1, h2, h3, h4, h5, h6, a, p {
  color: $white;
}

h1 {
  font-size: 2.5em;
  transform: rotate(-3deg);
}

h3 {
  font-size: 1.2em;
  line-height: 1.3;
}

//Button & custom link styles
button {
  margin: auto;
  font-size: 1em;
  background-color: rgba(0,0,0,0);
  color: #fff;
  border: none;
  img {
    width: 1em;
    height: 1em;
  }
}


.btn {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: $space-m;
  max-width: calc(320px - #{$space-m});
  text-transform: uppercase;
  font-weight: bold;

  &-main {
    background-color: $color-button;
    padding: $space-s 25px;
    max-width: calc(320px - #{$space-s});
    box-shadow: none;
    border: none;
    color: $white;
    text-transform: uppercase;
    font-size: rem(18);
    letter-spacing: .5px;
    line-height: 1;
    position: relative;
    transition: $transition;
    clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 20px 100%, 0% 50%);
    // &:before{
    //   content: '';
    //   display: block;
    //   background: inherit;
    //   width: 20px;
    //   height: 100%;
    //   position: absolute;
    //   left: -19px;
    //   top: 0;
    //   clip-path: polygon(0 50%, 100% 100%, 100% 0);
    // }
    // &:after{
    //   content: '';
    //   display: block;
    //   background: inherit;
    //   width: 20px;
    //   height: 100%;
    //   position: absolute;
    //   left: calc(100% - 1px);
    //   top: 0;
    //   clip-path: polygon(100% 50%, 0 100%, 0 0);
    // }
    &:hover{
      background: darken($color-button, 10%);
    }
  }
}

main.index{
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
  //General section styles
  .container {
    padding: $space-m;
  }

  .header {
    position: relative;
  }

  //header
  .info img, .btn-back img, .btn-close img {
    display: block;
    width: 1em;
    height: 1em;
  }

  .header {
    margin: 0 -20px;
    .info, .btn-back, .btn-close {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      width: 1.5em;
      height: 1.5em;
    }
    h3{
      padding: 0 20px; 
    }
    .info, .btn-close {
      right: 0;
    }

    .btn-back {
      left: 0;
    }
  }

  //Start screen
  .start-screen {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-image: url("/img/homescreen.jpg");
    background-size: cover;
    background-position: center center;
    max-width: 100vw;
    width: 100vw;
    position: absolute;
    z-index: $onTop;
  }

  //Cycle info
  .cycle-info {
    img {
      max-height: 30vh;
    }
  }
  .overlay {
    overflow-y: scroll;
    .content-block {
      padding: $space-m 0;
      img {
        max-width: 40vw;
      }
    }
  }
  //Cycle choice
  .cycle-choice {
    img {
      max-width: 25vw;
    }
    form {
      padding: $space-m 0;
    }
  }

  //Overlay
  .content-block {
    padding: $space-m 0;
    img {
      max-width: 40vw;
    }
  }

  section {
    position: absolute;
    margin: auto;
    height: 100vh;
    text-align: center;
    max-width: 40em;
    left: -40em;
    transition: .6s ease-in-out;
    z-index: -1;
    pointer-events: none;

    &.active {
      left: 0;
      z-index: $onTop;
      pointer-events: all;
    }
  }
}
