body {
  background-color: $color-general;
  margin: 0;
  display: flex;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6, a, p {
  color: $white;
}

h1 {
  font-size: 2.5em;
  transform: rotate(-3deg);
}

h3 {
  font-size: 1.2em;
  line-height: 1.3;
}

//General section styles
section {
  min-height: 100vh;
  text-align: center;
  max-width: 40em;
  display: flex;
  align-items: center;
}

.container {
  padding: $space-m;
}

.header {
  text-align: center;
}

//Button & custom link styles
.btn {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: $space-m;
  max-width: calc(320px - #{$space-m});
  text-transform: uppercase;
  font-weight: bold;

  &.btn-main {
    background-color: $color-button;
    padding: $space-s;
    max-width: calc(320px - #{$space-s});
  }
}

//Start screen
.start-screen {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-image: url("/img/homescreen.jpg");
  background-size: cover;
  background-position: center center;
}

//Cycle info
.cycle-info {
  img {
    max-height: 30vh;
  }
}

//Overlay
.content-block {
  padding: $space-m 0;
  img {
    max-width: 40vw;
  }
}