.results-start{ width: 100vw; height: 100vh; max-width: 100%; max-height: 100%; transition: .6s ease-in-out; position: relative;
  .slide{ height: 100vh; position: relative; background: $color-general; display: flex; flex-direction: column; align-items: center;
    &-image{ width: 25%; margin: 0 auto; position: relative; margin-top: 25vh;
      img{ width: 100%; height: auto; border-radius: 50%; }
    }
    h2{ margin-top: 25px; transform: rotate(3deg); font-size: 2rem;}
    p{ width: 100%; max-width: calc(100% - 40px); font-size: rem(18); margin-top: 15px;
      .big-text{ display: block; font-size: 3rem; padding: 20px 0; font-weight: $font-bold; }
    }
    button{ margin-top: 20px; }
  }
  &.inactive{ transform: translateX(-100vw);}
}
.contolers{ transition: $transition;
  &.inactive{ opacity: 0; pointer-events: none; z-index: -1; }
  span{ position: absolute; top: calc(25vh + 30px); width: 40px; height: 40px; background: transparent; left: 20px; display: block; z-index: $up; transform-origin: center center; cursor: pointer;
    &:after{ content: ''; display: block; width: 70%; height: 5px; background: white; transform: rotate(-45deg); position: absolute; left: 0; top: 26px; border-radius: 5px 0 5px 5px; }
    &:before{ content: ''; display: block; width: 70%; height: 5px; background: white; transform: rotate(45deg); position: absolute; left: 0; top: 9px; border-radius: 5px 5px 0 5px; }
    &.next{ right: 20px; left: auto;}
    &.back{ transform: rotate(180deg); }
  }
}

.slick-dots{ position: absolute; top: calc(100vh - 40px); left: 50vw; transform: translate(-50%, -50%);
  li{ display: inline-block; margin: 0 10px;
    button{ box-shadow: none; border: none; width: 15px; height: 15px; background: white; border-radius: 50%; text-indent: -9999px; opacity: .7; transition: .3s; }
    &.slick-active{
      button{ width: 20px; height: 20px; opacity: 1; }
    }
  }
}
.ingredients{ position: absolute; left: 100%; top: 0; transition: .6s ease-in-out; z-index: -1; height: 100vh; width: 100vw;
  &.active{ left: 0; z-index: 1; }
}
main.pref{ overflow: hidden; max-width: 100%; max-height: 100%; position: relative; }
